#home{
    align-items: initial!important;
}

.form-container{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-color: #3f3f3f7a;
}

@media (max-width:800px){
    fieldset{
        width: 100%!important;
    }
}

fieldset{
    width: 50%;
    margin: 0 auto;
    border-width: 0;
}

.section-btn{
    margin-top: 0px!important;
}