<section id="home" class="parallax-section" style="height: fit-content!important;">
  <div class="container form-container">
    <div class="row">
  
         <div class="col-md-offset-5 col-md-7 col-sm-12">
              <div class="home-thumb">
                   <h1 class="wow fadeInUp" data-wow-delay="0.4s">Register for your FAN ID</h1>
                   <form>
                      <p class="wow fadeInUp white-color" data-wow-delay="0.6s">Please fill in your data.</p>
                      <fieldset>
                      <!-- Text input-->
                        <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                          <label class="col-md-4 control-label" for="textinput">First Name</label>  
                          <div class="col-md-4">
                          <input id="textinput" name="firstName" type="text" placeholder="Your first name in English" class="form-control input-md" [(ngModel)]="firstName">
                          
                          </div>
                        </div>
  
                        <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                          <label class="col-md-4 control-label" for="textinput">Last Name</label>  
                          <div class="col-md-4">
                          <input id="textinput" name="lastName" type="text" placeholder="Your last name in English" class="form-control input-md" [(ngModel)]="lastName">
                          
                          </div>
                        </div>
  
                        <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                          <label class="col-md-4 control-label" for="textinput">Username</label>  
                          <div class="col-md-4">
                          <input id="username" name="username" type="text" placeholder="Enter a username" class="form-control input-md" [(ngModel)]="username">
                          </div>
                        </div>
                        
                        <!-- Password input-->
                        <div class="form-group wow fadeInUp" data-wow-delay="0.9s">
                          <label class="col-md-4 control-label" for="passwordinput">Password</label>
                          <div class="col-md-4">
                            <input id="passwordinput" name="password" type="password" placeholder="Your password" class="form-control input-md" [(ngModel)]="password">
                          </div>
                        </div>
  
                        <div class="form-group wow fadeInUp" data-wow-delay="0.9s">
                          <label class="col-md-4 control-label" for="passwordinput">Confirm your password</label>
                          <div class="col-md-4">
                            <input id="passwordinput2" name="password2" type="password" placeholder="Type your password again" class="form-control input-md" [(ngModel)]="password2">
                          </div>
                        </div>
                        
                        <!-- Select Basic -->
                        <div class="form-group wow fadeInUp" data-wow-delay="1s">
                          <label class="col-md-4 control-label" for="selectbasic">Your Class</label>
                          <div class="col-md-4">
                            <select id="selectbasic" name="class" class="form-control" [(ngModel)]="class">
                              <option value="0">Select your class</option>
                              <option value="St. Paul">St. Paul (بولس الرسول)</option>
                              <option value="St. Peter">St. Peter (بطرس الرسول)</option>
                              <option value="St. Mathew">St. Matthias (متى الرسول)</option>
                              <option value="St. John">St. John (يوحنا الحبيب)</option>
                              <option value="St. Bernaba">St. Bernaba (برنابا الرسول)</option>
                              <option value="St. Mark">St. Mark (مارمرقس الرسول)</option>
                              <option value="St. James">St. James (يعقوب الرسول)</option>
                              <option value="St. Stephanos">St. Stephanos (الشهيد استفانوس)</option>
                              <option value="St. Thomas">St. Thomas (توما الرسول)</option>
                              <option value="St. Andrew">St. Andrew (اندراوس الرسول)</option>
                              <option value="St. Luke">St. Luke (لوقا الرسول)</option>
                              <option value="St. Matthias">St. Matthias (متياس الرسول)</option>
                            </select>
                          </div>
                        </div>
                        
                        <!-- File Button --> 
                        <!-- <div class="form-group wow fadeInUp" data-wow-delay="1.1s">
                          <label class="col-md-4 control-label" for="filebutton">Upload your photo</label>
                          <div class="col-md-4" >
                            <input style="width:50%; margin: 0 auto;" id="userImage" name="userImage" [(ngModel)]="userImage" class="input-file" type="file" accept="image/*">
                          </div>
                        </div> -->
                        
                        <!-- Button (Double) -->
                        <div class="form-group wow fadeInUp" data-wow-delay="1.2s">
                          <div class="ui-g center">
                              <div class="ui-g-8 ui-sm-12 center">
                                  <button id="button1id" name="button1id" class="btn btn-success section-btn ui-sm-6" (click)="submit()">Get my FAN ID</button>
                                  <button id="button2id" routerLink="" name="button2id" class="btn btn-danger section-btn ui-sm-6">Cancel</button>
                              </div>
                          </div>
                          
                        </div>
                    
                    </fieldset>
                   </form>
                   
                    
                    
                    
                    
                   <!-- <div class="center">
                           <a  routerLink = "registerFanId" class="wow fadeInUp smoothScroll btn btn-default section-btn" data-wow-delay="1s">Get my <strong>FAN ID</strong></a>
                   </div> -->
                   
              </div>
         </div>
  
    </div>
  </div>
</section>