<div class="ui-g no-padding">

    <div class="ui-g-12 green-bg no-padding scratches">
        <div class="ui-g-6 ui-sm-12">
          <h1 class="purple-color self-vertical-align-center header-title" >
            Rosol Family Fantasy
          </h1>
        </div>
    
        <div class="ui-g-6 ui-sm-12 center no-padding">
            <img src="assets/images/header-players.png" style="height: 100%;padding-top:15px;">
        </div>
    </div>
    
    <!-- Menu bar -->
    <div class="ui-g-12 no-padding">
        <p-menubar [model]="menuItems"></p-menubar>
    </div>

</div>
