<div style="padding-bottom:15px;width:140px" class="center">
  <ng-template [ngIf]="_player" [ngIfElse]="emptyPlayer">
    <div class="ui-g">

      <div class="ui-g-1 no-padding no-margin">
        <div class="remove-player">
          <p-button styleClass="delete-btn control-btn" icon="pi pi-times" (click)="removePlayer()" pTooltip="Remove player" tooltipPosition="top"></p-button>
        </div>
      </div>

      <div class="ui-g-10 center no-padding no-margin">
          <img src="assets/images/players/Michael Reda.png" height="120"/>
      </div>

      <div class="ui-g-1 no-padding no-margin">
            <div class="player-info">
                <p-button styleClass="info-btn control-btn" icon="pi pi-info" (click)="selectedPlayerIDToGetHisInfo=_player._id" pTooltip="Show player info" tooltipPosition="top"></p-button>
            </div>
      </div>
      
      <div class="ui-g-12 no-padding no-margin">
        <div class="center player-card-footer">
          <div class="main-footer">
            {{ _player.name }}
          </div>
          <div class="player-card-subfooter">${{ _player.price }}</div>
        </div>
      </div>

    </div>
  </ng-template>


  <ng-template #emptyPlayer>
    <img
      src="assets/images/empty_shirt.png"
      height="120"
      pTooltip="Add player from the players list" tooltipPosition="top" tooltipStyleClass="center"
    />
    <div class="center player-card-footer">
        <div class="main-footer">
          {{ position }}
        </div>
    </div>
  </ng-template>
</div>


<!-- player info dialog -->
<player-info-dialog [playerID]="selectedPlayerIDToGetHisInfo" ></player-info-dialog>