<p-panel header="My profile" *ngIf="user && plan">
  <div class="ui-g">
      <span class="ui-g-12"><strong>Name:</strong> {{user.name}}</span>
      <span class="ui-g-12"><strong>Username:</strong> {{user.username}}</span>
      <span class="ui-g-12"><strong>Team name:</strong> {{user.teamName}}</span>
      <br>
      <span class="ui-g-12"><strong>Total points:</strong> {{user.points}}</span>
      <span class="ui-g-12"><strong>Money:</strong> {{user.money}}$</span>
      <span class="ui-g-12"><strong>Gameweek points:</strong> {{plan.points}}</span>
  </div>
  
</p-panel>

<p-dialog
      header="Change your password"
      [(visible)]="showChangePasswordDialog"
      draggable="false"
      resizable="false"
      modal="true"
      [closable] = "false"
      [style]="{'width':'300px','text-align':'center'}"
    >
      <p-messages [(value)]="changePasswordDialogErrors"></p-messages>
      <div class="center">
        <div class="ui-inputgroup">
          <input
            type="password"
            pInputText
            name="password"
            [(ngModel)]="password"
            placeholder="New Password"
            style="width:100%"
          />
        </div>
        <br />
        <div class="ui-inputgroup">
          <input
            type="password"
            pInputText
            name="verifiedPassword"
            [(ngModel)]="verifiedPassword"
            placeholder="Your new password Again"
            style="width:100%"
          />
        </div>
        <br />

        <p-button label="Change Password"  (click)="changePassword(password, verifiedPassword)"></p-button>
      </div>
</p-dialog>