<router-outlet></router-outlet>

<p-dialog *ngIf="dialog" [header]="dialog.title" [(visible)]="dialog.isVisible" draggable="false"
    resizable="false"
    modal="true"
    [style]="{width: '500px'}"
    >
    <div class="ui-g">
        <div class="ui-g-2 center self-vertical-align-center">
            <i class="pi pi-info-circle" style="font-size: 50px;"></i>
        </div>
        <div class="ui-g-10 center">
            {{dialog.content}}
        </div>
        
        <div class="ui-g-12 center">
            <p-button label="Ok" (click)="dialog.isVisible=false"></p-button>
        </div>
    </div>
    
    
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>