<p-dialog
      header="Player Info"
      [(visible)]="isDialogVisible"
      draggable="false"
      resizable="false"
      modal="true"
    >
    <div *ngIf="_player">
        <div class="ui-g"> 
          <!-- header -->
          <div class="ui-g-12">
            <div class="ui-g">
              <div class="ui-g-3 center">
                <img  src="assets/images/players/Michael Reda.png" height="200px">
              </div>
              <div class="ui-g-6 center">
                <h2>
                  {{_player.name}}
                </h2>
                <h3 center>
                  {{_player.position}}
                </h3>
              </div>
              <div class="ui-g-3 center">
                  <h2 center>
                    Price
                  </h2>
                  <h2 center>
                    {{_player.price}}
                  </h2>
              </div>
            </div>
          </div>

          <!-- states -->
          <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-3">
                    <h4 class="no-margin center">Last match points</h4>
                    <h4 class="no-margin center">5</h4>
                </div>
    
                <div class="ui-g-3">
                    <h4 class="no-margin center">Total Goals</h4>
                    <h4 class="no-margin center">2</h4>
                </div>
    
                <div class="ui-g-3">
                    <h4 class="no-margin center">Total Assists</h4>
                    <h4 class="no-margin center">3</h4>
                </div>
    
                <div class="ui-g-3">
                    <h4 class="no-margin center">Total Points</h4>
                    <h4 class="no-margin center">25</h4>
                </div>
            </div>
          </div>
            

          <!-- season matches -->
          <div class="ui-g-12">
            <p>This season</p>
            <p-table  [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                      <th>Match number</th>
                      <th>Points</th>
                      <th>Goals</th>
                      <th>Assists</th>
                      <th>Clean Sheets</th>
                      <th>Yellow Cards</th>
                      <th>Red Cards</th>
                      <th>Bonus</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-player>
                    
                </ng-template>
            </p-table>
          </div>
        </div>  
  </div>
    
</p-dialog>