<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-3 ui-sm-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Filter by: </span>
                <p-dropdown [options]="cols" autoDisplayFirst="true" [(ngModel)]="filterByCol" optionLabel="header"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-3 ui-sm-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Operation: </span>
                    <p-dropdown [options]="operations" autoDisplayFirst="true" [(ngModel)]="filterOperation"></p-dropdown>
                </div>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <input id="filterUsersinput" type="text" size="30" [(ngModel)]="filterValue" pInputText>
                <label for="filterUsersinput">Filter Users</label>
            </span>
        </div>
       
        <div class="ui-g-3 ui-sm-12">
            <p-button label="Filter" (onClick)="usersTable.filter(filterValue,filterByCol?.field, filterOperation)"></p-button>
        </div>
    </div>
    <div class="ui-g-12">
        <p-table #usersTable *ngIf="(users$ | async) as users" [value]="users" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" [pTooltip]="'Click to sort by user '+col.field" tooltipPosition="top" tooltipStyleClass="center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                  <td *ngFor="let col of cols">{{user[col.field]}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


