/* You can add global styles to this file, and also import other style files */
.english-cont {
  text-align: left;
  padding-left: 50px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.self-vertical-align-center {
  -webkit-align-self: center;
  align-self: center;
}

app-register-fan-id {
  width: 80%;
  margin: 0 auto;
}

.control-label,
.input-file {
  color: white;
}

a {
  cursor: pointer;
}

.stretch {
  width: 100%;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

body{
  margin: 0px;
}

.purple-color{
  color:#37003c;
}

.purple-bg{
  color:#37003c;
}