<div class="ui-g">
  <!-- header -->
  <div class="ui-g-12 green-bg">
    <h1 style="color:black">
      Rosol Family fantasy
    </h1>
  </div>
  <!-- content -->
  <!-- left pane -->
  <div class="ui-g-8">
    <app-plan></app-plan>
  </div>
  <!-- right pane -->
  <div class="ui-g-4">
    <div class="ui-g">
      <div class="ui-g-12">
         <app-user-profile></app-user-profile>
      </div>
      <div class="ui-g-12">
          <objectives></objectives>
      </div> 
      <div class="ui-g-12">
          <app-redeem-code></app-redeem-code>
       </div>
      <div class="ui-g-12">
        <p>Add players to your team:</p>
        <players-table></players-table>
      </div> 
    </div>
    
  </div>
</div>




