<p-panel header="My Team">
    <p-card>
      <div class="ui-g">
          <div class="ui-g-3 self-vertical-align-center">
              <p-button class="stretch" label="Apply" styleClass="ui-button-success stretch"></p-button>
          </div>
          <div class="ui-g-3 self-vertical-align-center">
              <p-button class="stretch" label="Cancel" styleClass="ui-button-secondry stretch"></p-button>
          </div>
          <div class="ui-g-3">
              <h3 class="no-margin center">Players selected</h3>
              <h4 class="no-margin center">0/7</h4>
          </div>
          <div class="ui-g-3">
              <h3 class="no-margin center">Money remaining</h3>
              <h4 class="no-margin center">100</h4>
          </div>
      </div>
    </p-card>

    <p-card>
      <div class="Stretch pitch">
        <div class="players center">
            <div class="ui-g">
                <!-- goalkeeper -->
                <div class="ui-g-12">
                    <player-card [playerID]="userPlan.goalkeeper[0]"></player-card>
                </div>

                <!-- Rest Of Positions -->
                <ng-template *ngFor="let position of Object.keys(userPlan)" [ngIf]="position!='goalkeeper'">
                    <div class="ui-g-{{userPlan[position].length ==1? 12:6}}" *ngFor="let playerID of userPlan[position]">
                        <player-card [playerID]="playerID"></player-card>
                    </div>
                </ng-template>
                
            </div>
        </div>
      </div>
    </p-card>
  </p-panel>
