<p-panel header="My Team">
    <p-card>
      <div class="ui-g">
          <div class="ui-g-3 self-vertical-align-center">
              <p-button class="stretch" label="Apply" styleClass="ui-button-success stretch"></p-button>
          </div>
          <div class="ui-g-3 self-vertical-align-center">
              <p-button class="stretch" label="Cancel" styleClass="ui-button-secondry stretch"></p-button>
          </div>
          <div class="ui-g-3">
              <h3 class="no-margin center">Players selected</h3>
              <h4 class="no-margin center">0/7</h4>
          </div>
          <div class="ui-g-3">
              <h3 class="no-margin center">Money remaining</h3>
              <h4 class="no-margin center">100</h4>
          </div>
      </div>
    </p-card>

    <p-card>
      <div class="Stretch pitch">
        <div class="players center">
            <div class="ui-g">
                <!-- goalkeeper -->
                <div class="ui-g-12">
                    <player></player>
                </div>
                <!-- defense -->
                <div class="ui-g-6">
                    <player></player>
                </div>
                <div class="ui-g-6">
                    <player></player>
                </div>
                <!-- midfield -->
                <div class="ui-g-6">
                    <player></player>
                </div>
                <div class="ui-g-6">
                    <player></player>
                </div>
                <!-- attack -->
                <div class="ui-g-6">
                    <player></player>
                </div>
                <div class="ui-g-6">
                    <player></player>
                </div>
            </div>
        </div>
      </div>
    </p-card>
  </p-panel>
